html, body {
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 600px;
}

/*div {*/
    /*width: 800px;*/
    /*height: 600px;*/
    /*margin: 0 auto;*/
    /*border: 2px solid red;*/

/*}*/