html{
    height: 100%;
}
body {
    text-align:center;
    height: 100%;
    background:url('/images/SoftUniLogo.PNG') no-repeat fixed center;
    background-color: blue;
    background-image:url('SoftUniLogo.PNG');
    background-repeat:repeat;
}
canvas{
    display:block; 
    text-align:center;
    background:url('/images/SoftUniLogo.PNG') no-repeat fixed center;

}

div { 
    margin: 20px auto;
}
 header{
     background:blue;
 }